{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Products</h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 80px; height: 80px;">
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.description }}</td>
                <td>Rs.{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td class="text-center">
                    <a href="{% url 'AdminApp:edit_product' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'AdminApp:delete_product' product.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No products available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}